.icon_bars {
  display: inline-block;
  width: 24px;
  cursor: pointer;
  i {
    width: 100%;
    background-color: white;
    height: 3px;
    display: block;
    &:nth-child(2) {
      margin: 5px 0;
    }
  }
}
