<template>
  <main class="container">
    <h1>Мероприятия</h1>
    <div class="flex">
        <div v-if="items" :key="0" class="flex-container events">
            <event-item :key="i" v-for="(item, i) in items.page" :item="item"></event-item>
        </div>
        <preloader v-else :key="1" style="padding: 100px 0"></preloader>
    </div>
  </main>
</template>

<script>
  import EventItem from '../components/Event/Item.vue'

  export default {
    data: () => ({}),
    computed: {
      items () {
        return this.$api.findAll('events', {
          fields: 'seo,categories,tags,subevents.venue,subevents.description',
          limit: 8,
          offset: 0,
          category_id: 10
        }, 1)
      }
    },
    components: {
      EventItem
    }
  }
</script>

<style>
  .events {
    margin: -15px;
  }
</style>

<style scoped>
  h1 {
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 34px;
  }
</style>
