<template>
    <main class="flex-container">
      <event-detail :item="item" :error="error"></event-detail>
    </main>
</template>

<script>
  import EventDetail from '../components/Event/Detail.vue'

  export default {
    data: () => ({}),
    computed: {
      item () {
        // не нащел способа получать данные евента через сео алиас с помощью апи
        return this.$api.findRecord({
          model: 'events',
          id: this.$route.params.id,
          query: {
            fields: 'subevents.sectors,subevents.venue,seo,categories,tags'
          }
        })
      },
      error () {
        return this.$store.getters[`entities/events/get_error`](this.$route.params.id) || false
      }
    },
    components: {
      EventDetail
    }
  }
</script>

<style>

</style>
