<template>
    <article class="events__detail">
      <template v-if="item && show">
        <div class="events__detail-background">
          <svg width="14px" height="20px" viewBox="0 0 14 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="home-[desktop]" transform="translate(-1091.000000, -537.000000)" fill="#FFFFFF" fill-rule="nonzero">
                <g id="concerts" transform="translate(155.000000, 100.000000)">
                  <g id="event-card" transform="translate(660.000000, 427.000000)">
                    <g id="1498165543_ribbon" transform="translate(276.000000, 10.000000)">
                      <path d="M11.338843,1.74443738 C11.8198716,1.74443738 12.2110617,2.13562746 12.2110617,2.61665607 L12.2110617,15.6999364 L8.02441195,12.5599491 L6.97774952,11.7749523 L5.93108709,12.5599491 L1.74443738,15.6999364 L1.74443738,2.61665607 C1.74443738,2.13562746 2.13562746,1.74443738 2.61665607,1.74443738 L11.338843,1.74443738 Z M11.338843,0 L2.61665607,0 C1.17095359,0 0,1.17095359 0,2.61665607 L0,19.1888112 L6.97774952,13.955499 L13.955499,19.1888112 L13.955499,2.61665607 C13.955499,1.17095359 12.7845455,0 11.338843,0 Z" id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
          <div class="events__detail-background-holder" :style="{'background-image': `url('${img}')`}">
          </div>
          <div class="events__detail-title-holder">
            <img class="events__detail-title-holder-img" :src="img">
            <div class="events__detail-title-holder-text">
              <h1>{{ item.title }}</h1>
              <div class="events__detail-title-holder-text_bottom">
                <p>{{ date }} <br> Тут строчка которую я не нашел на бэкенде</p>
                <ul>
                  <li v-for="tag in item.taggroups">
                    {{ tag.title }}
                  </li>
                </ul>
                <button>Сеансы и билеты</button>
              </div>
            </div>
          </div>
        </div>
        <div class="events__detail-info">
          <div class="events__detail-info-event">
            <h2>И тут строчки не нашел</h2>
            <p>
              Пусто как-то
            </p>
          </div>
          <div class="events__detail-info-order">
            <h2>Как купить билеты</h2>
            <h3>Кассы</h3>
            <p>
              Sed mollis felis orci, id efficitur elit ornare id. Donec at odio et nisi venenatis tristique eu porta libero.
            </p>
            <h3>
              Бронирование билетов
            </h3>
            <p>
              Nam non felis quam. Sed maximus sapien eget nunc eleifend fermentum. Suspendisse rutrum ligula commodo maximus pulvinar.
            </p>
            <h3>
              Оплата и получение
            </h3>
            <p>
              Donec auctor lorem non dui fringilla, a molestie ex cursus. Morbi laoreet pretium felis in posuere. Etiam in finibus risus.
            </p>
          </div>
        </div>
      </template>
      <template v-else-if="!item">
        <preloader style="padding: 100px 0;"></preloader>
      </template>
      <template v-else-if="!show">
        Ошибка {{ error }}
      </template>
      <template v-else>
        Что-то страшное и не обработанное
      </template>
    </article>
</template>

<script>
  import date from 'mixins/date'

  export default {
    data: () => ({
      canResolveImg: false
    }),
    mixins: [date],
    computed: {
      event() {
        return ( this.item.subevents && this.item.subevents[0] ) || {}
      },
      img() {
        return `https://media.cultserv.ru/i/300x300/${this.event.image}`
      },
      date() {
        return this.getSimpleDate(this.event.date)
      },
      show() {
        return !this.error
      }
    },
    props: {
      item: {
        type: Object,
        default: function () {
          return {}
        }
      },
      error: [Number, Boolean, String]
    }
  }
</script>

<style lang="scss">
  .events__detail {
    width: 1020px;
  }

  .events__detail-background {
    height: 290px;
    overflow: hidden;
    margin: 0;
    position: relative;
    svg {
      position: absolute;
      z-index: 1;
      right: 0;
      padding: 30px;
    }
  }

  .events__detail-background-holder {
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(//media.cultserv.ru/i/300x300/71b2fe2….jpg);
    background-position: center;
    filter: blur(30px);
    margin: -30px;
  }

  .events__detail-title-holder {
    top: 0;
    position: absolute;
    z-index: 1;
    display: -webkit-box;
    color: #fff;
    align-content: stretch;
  }

  .events__detail-title-holder-img {
    padding: 30px;
    min-width: 300px;
    min-height: 200px;
  }

  .events__detail-title-holder-text {
    position: relative;
    padding: 30px 30px 0 0;
    display: flex;
    align-content: stretch;
    max-width: 580px;
    h1 {
      margin: 0;
      font-size: 24px;
      font-weight: 300;
      color: #fff;
      line-height: 29px;
    }
  }

  .events__detail-title-holder-text_bottom {
    position: absolute;
    bottom: 30px;
    p {
      font-size: 14px;
      line-height: 22px;
    }
    ul {
      width: 560px;
      margin: 20px -5px 25px;
      padding: 0;
      li {
        padding: 0px 10px;
        background-color: rgba(0,0,0,.2);
        font-size: 9px;
        display: inline-block;
        margin: 0 5px 5px;
        border-radius: 2px;
        line-height: 16px;
        padding-top: 4px;
        text-transform: uppercase;
      }
    }
    button {
      height: 44px;
      line-height: 30px;
      padding-top: 4px;
      text-transform: uppercase;
      font-size: 11px;
      background-color: #D31027;
      border: none;
      width: 300px;
    }
  }

  .events__detail-info {
    display: flex;
    background-color: #fff;
    padding: 40px 30px;
    margin: 0 -15px;
    h2 {
      margin: 0 0 41px;
      font-size: 22px;
      font-weight: 300;
    }
    p {
      color: #737373;
      font-size: 15px;
      line-height: 22px;
    }
    div {
      margin: 0 15px;
    }
  }

  .events__detail-info-event {
    width: 630px;
  }

  .events__detail-info-order {
    color: #737373;
    width: 300px;
    h3 {
      font-size: 15px;
      margin: 0 0 8px;
      font-weight: 300;
    }
    p {
      margin-bottom: 30px;
      font-size: 15px;
    }
  }
</style>
