<template>
    <article class="events__item" v-if="item">
      <router-link :to="{name: 'EventsDetail', params: { id: item.id }}" >
        <div class="events__item-img-holder" :style="{'background-image': `url('${img}')`}">
          <svg v-if="item.eticket_possible" width="14px" height="20px" viewBox="0 0 14 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="home-[desktop]" transform="translate(-1091.000000, -537.000000)" fill="#FFFFFF" fill-rule="nonzero">
                <g id="concerts" transform="translate(155.000000, 100.000000)">
                  <g id="event-card" transform="translate(660.000000, 427.000000)">
                    <g id="1498165543_ribbon" transform="translate(276.000000, 10.000000)">
                      <path d="M11.338843,1.74443738 C11.8198716,1.74443738 12.2110617,2.13562746 12.2110617,2.61665607 L12.2110617,15.6999364 L8.02441195,12.5599491 L6.97774952,11.7749523 L5.93108709,12.5599491 L1.74443738,15.6999364 L1.74443738,2.61665607 C1.74443738,2.13562746 2.13562746,1.74443738 2.61665607,1.74443738 L11.338843,1.74443738 Z M11.338843,0 L2.61665607,0 C1.17095359,0 0,1.17095359 0,2.61665607 L0,19.1888112 L6.97774952,13.955499 L13.955499,19.1888112 L13.955499,2.61665607 C13.955499,1.17095359 12.7845455,0 11.338843,0 Z" id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </div>
      </router-link>
      <div class="events__item-text-holder">
        <router-link ref="titleLink" :to="{name: 'EventsDetail', params: { id: item.id }}" :fullTitle="item.title" :class="{'_tooltip': titleCroped}">
          {{ titleCroped ? item.title.substring(0, 42) + " ..." : item.title }}
        </router-link>
        <p>{{ date }} <br> {{ event.venue.title.length < 35 ? event.venue.title : event.venue.title.substring(0, 35) + " ..." }}</p>
        <span>Билеты от {{ event.min_price }}₽</span>
      </div>
    </article>
</template>

<script>
  import date from 'mixins/date'

  export default {
    data: () => ({
      titleCroped: false
    }),
    mixins: [date],
    methods: {
      cropTitle () {
        const el = this.$refs.titleLink.$el
        if (el.offsetHeight > 52) {
          this.titleCroped = true
        }
      }
    },
    computed: {
      event() {
        return this.item.subevents ? this.item.subevents[0] : {}
      },
      img() {
        return `https://media.cultserv.ru/i/300x300/${this.event.image}`
      },
      date() {
        return this.getSimpleDate(this.event.date)
      }
    },
    mounted() {
      this.cropTitle()
    },
    props: {
      item: {
        type: Object,
        default: function () {
          return {}
        }
      }
    }
  }
</script>

<style lang="scss">
  $animationScale: 20px;
  $animationScaleMargin: -$animationScale/2;
  $animationScaleResolve: calc(100% + #{$animationScale});

  .events__item {
    display: inline-block;
    width: 300px;
    transition: background-color .5s;
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    margin: 15px;
    &:hover {
      background-color: #FAFAFA;
      .events__item-img-holder {
        transition: all .5s;
        width: $animationScaleResolve;
        margin-left: $animationScaleMargin;
        svg {
          padding: 10px;
          float: right;
          margin-right: -$animationScaleMargin;
        }
      }
    }
  }

  .events__item-img-holder {
    transition: all .5s;
    height: 160px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    svg {
      transition: all .5s;
      padding: 10px;
      float: right;
    }
  }

  .events__item-text-holder {
    height: 147px;
    padding: 14px 20px 13px;
    a {
      text-decoration: none;
      color: #000;
      font-weight: 300;
      margin: 0;
      line-height: 26px;
      font-size: 18px;
      height: 52px;
      position: relative;
      &:hover {
        text-decoration: underline;
      }
      &:after {
        content: attr(fullTitle);
        opacity: 0;
        visibility: hidden;
        height: 0;
        display: block;
        position: absolute;
        box-shadow: 0 1px 9px rgba(0,0,3px,.1);
        font-size: 11px;
        bottom: 0;
        padding: 6px;
      }
    }
    a._tooltip {
      &:hover {
        &:after {
          transition: opacity .3s;
          opacity: 1;
          content: attr(fullTitle);
          display: block;
          visibility: visible;
          font-size: 11px;
          line-height: 16px;
          height: auto;
          background-color: #fff;
          position: absolute;
          width: 260px;
          z-index: 2;
          border-radius: 2px;
        }
      }
    }
  }

  .events__item-text-holder p {
    color: #737373;
    font-size: 13px;
    line-height: 24px;
    margin: 16px 0 7px
  }

  .events__item-text-holder span {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 24px;
  }
</style>
