<template>
    <header>
      <div class="header-left">
        <span class="icon_bars">
          <i></i>
          <i></i>
          <i></i>
        </span>
        <router-link to="/" class="header-left__logo">
          <img src="../assets/svg/logo-owl.svg">
          <img src="../assets/svg/logo-text.svg">
        </router-link>
      </div>
      <div class="header-right">
        <img src="../assets/svg/geo-pointer.svg">
        <img src="../assets/svg/profile.svg">
      </div>
    </header>
</template>

<script>
  export default {
    data: () => ({})
  }
</script>

<style lang="scss">
  @import '../assets/scss/vars.scss';
  @import '../assets/scss/commons.scss';

  header {
    height: 62px;
    padding: 0 30px;
    background-color: $headerColor;
    display: -webkit-box;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 2px 4px #000;
  }

  .header-left {
    vertical-align: middle;
    display: flex;
    align-items: center;
  }

  .header-left .icon_bars {
    padding: 22px;
    margin: -22px;
    position: relative;
    z-index: 1;
    margin-bottom: -19px;
  }

  .header-left .header-left__logo {
    padding: 0 24px;
    align-items: center;
    display: flex;
    img {
      &:nth-child(2) {
        margin-left: 5px;
      }
    }
  }

  .header-right {
    vertical-align: middle;
    display: flex;
    align-items: center;
  }

  .header-right img {
    padding: 22px 7px;
    margin: -22px -7px;
    cursor: pointer;
    &:nth-child(1) {
      margin-right: 7px;
    }
  }
</style>
