<template>
  <div class="peloaderHolder" :class="classes">
    <div class="preloader" :class="{'pl-xs': size === 'mini', 'pls-amber': !color, 'pls-white': color === 'white'}">
      <svg class="pl-circular" width="58px" height="58px" viewBox="0 0 58 58" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <!-- Generator: Sketch 48.2 (47327) - http://www.bohemiancoding.com/sketch -->
        <desc>Created with Sketch.</desc>
        <defs>
          <filter x="-0.4%" y="-8.1%" width="100.9%" height="122.6%" filterUnits="objectBoundingBox" id="filter-1">
            <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
            <feGaussianBlur stdDeviation="2" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
            <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix" in="shadowBlurOuter1" result="shadowMatrixOuter1"></feColorMatrix>
            <feMerge>
              <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
              <feMergeNode in="SourceGraphic"></feMergeNode>
            </feMerge>
          </filter>
          <linearGradient x1="50%" y1="100%" x2="50%" y2="-105.291193%" id="linearGradient-2">
            <stop stop-color="#D31027" offset="0%"></stop>
            <stop stop-color="#EA384D" offset="100%"></stop>
          </linearGradient>
          <circle id="path-3" cx="25" cy="25" r="25"></circle>
        </defs>
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="home-[desktop]" transform="translate(-80.000000, -3.000000)">
            <g id="navbar" filter="url(#filter-1)" transform="translate(0.000000, -1.000000)">
              <g id="owl" transform="translate(109.000000, 31.000000) rotate(15.000000) translate(-109.000000, -31.000000) translate(84.000000, 6.000000)">
                <mask id="mask-4" fill="white">
                  <use xlink:href="#path-3"></use>
                </mask>
                <use id="Mask" fill="url(#linearGradient-2)" xlink:href="#path-3"></use>
                <g id="Layer_1" mask="url(#mask-4)">
                  <g transform="translate(1.000000, 7.500000)">
                    <path d="M22.775641,53.4910256 L24.2564103,53.4910256 L23.8521368,54.2807692 L23.5136752,54.2807692 C21.5323414,54.2731006 19.5581394,54.0428822 17.6282051,53.5944444 C11.6780518,52.1653523 6.48390692,48.5487506 3.07905983,43.4641026 C2.20718006,42.2072107 1.49649795,40.8458596 0.963675214,39.4119658 C0.310038034,37.751445 -0.00945668977,35.9782493 0.0235042735,34.1940171 C0.169230769,30.3346154 0.963675214,27.0346154 4.21196581,25.2247863 C3.69487179,17.0452991 4.93589744,11 8.47564103,6.70811966 C8.98333333,6.09700855 9.1008547,5.82905983 9.52393162,5.24615385 C7.64358974,4.4517094 5.46709402,4.26367521 3.14957265,3.83589744 C4.65191443,3.09461414 6.32561221,2.76993949 7.99615385,2.8957265 C7.31452991,2.5008547 6.46367521,2.42564103 5.85726496,2.17649573 C7.28499292,1.81509473 8.77765637,1.79416201 10.2149573,2.11538462 C9.61566041,1.76757812 8.9973084,1.45369385 8.36282051,1.17521368 C10.2109403,1.08543413 12.0486987,1.49978285 13.6794872,2.37393162 C16.2696581,1.22222222 20.0021368,0.719230769 23.5512821,0.752136752" id="Shape" fill="#151515"></path>
                    <path d="M24.2094017,0.756837607 C27.7632479,0.723931624 31.4910256,1.22692308 34.0811966,2.37863248 C35.7253798,1.50593026 37.5769344,1.0995311 39.4354701,1.2034188 C38.8009822,1.48189898 38.1826302,1.79578325 37.5833333,2.14358974 C39.0206342,1.82236714 40.5132977,1.84329986 41.9410256,2.20470085 C41.3299145,2.4491453 40.4837607,2.52905983 39.8021368,2.92393162 C41.4726784,2.79814462 43.1463762,3.12281927 44.6487179,3.86410256 C42.3311966,4.29188034 40.1688034,4.47991453 38.274359,5.27435897 C38.6974359,5.86196581 38.8149573,6.12521368 39.3226496,6.73632479 C42.8623932,11.0235043 44.1034188,17.0782051 43.5863248,25.2529915 C46.8534188,27.0628205 47.6337607,30.3628205 47.7747863,34.2222222 C47.8077473,36.0064544 47.4882526,37.7796501 46.8346154,39.4401709 C46.3017926,40.8740648 45.5911105,42.2354158 44.7192308,43.4923077 C41.3036111,48.581119 36.0949722,52.1951053 30.1324786,53.6132479 C28.2025444,54.0616856 26.2283424,54.291904 24.2470085,54.2995726 L23.9273504,54.2995726 L23.5230769,53.5098291 L25.0038462,53.5098291" id="Shape" fill="#151515"></path>
                    <path d="M24.1200855,0 L23.6029915,0 C12.3726496,0.0799145299 4.08974359,5.87136752 4.08974359,22.5970085 C4.08974359,35.134188 7.33803419,49.4576923 15.2918803,52.9645299 C17.8976997,54.0183768 20.689144,54.5363767 23.4995726,54.4876068 L24.1764957,54.4876068 L25.7465812,54.4358974 C28.0418657,54.3378169 30.3024207,53.8398903 32.4264957,52.9645299 C40.3803419,49.4576923 43.6286325,35.134188 43.6286325,22.5970085 C43.6333333,5.87136752 35.3504274,0.0799145299 24.1200855,0 Z" id="Shape" fill="#151515"></path>
                    <path d="M14.0132479,6.96196581 C15.7219293,7.30258276 17.269384,8.20030487 18.4132479,9.51452991 C19.6614834,10.9607396 20.2643678,12.854306 20.0820513,14.7559829 C19.9341913,16.5822088 19.2725121,18.3293027 18.1735043,19.7952991 C17.0607993,21.2939398 15.2649684,22.1272761 13.4021368,22.0094017 C9.80598291,21.7038462 8.60726496,17.4730769 8.62606838,13.7688034 C8.62606838,11.3008547 9.68376068,9.06794872 11.0470085,7.87863248 C11.8306974,7.16093053 12.886916,6.81800243 13.942735,6.93846154 L14.0132479,6.96196581 Z" id="Shape" fill="#FFFFFF"></path>
                    <path d="M16.4388889,25.6102564 C16.4388889,25.6102564 15.2683761,25.0931624 15.0662393,24.9568376 C20.0961538,22.5311966 21.2995726,18.8457265 21.2995726,18.8457265 C21.2995726,18.8457265 22.7098291,16.0863248 21.8871795,11.6205128 C20.9940171,6.76923077 15.3952991,5.12863248 15.3952991,5.12863248 C15.3952991,5.12863248 23.7675214,2.11538462 32.8589744,5.12863248 C32.8589744,5.12863248 27.274359,6.67051282 26.2777778,11.7380342 C25.3987179,16.142735 26.9217949,18.8645299 26.9217949,18.8645299 C26.9217949,18.8645299 28.3320513,22.5688034 33.1128205,24.975641 C33,25.041453 32.8354701,25.1307692 32.642735,25.2247863 C31.835556,25.6459753 30.9777084,25.9619413 30.0901709,26.1649573 C23.9273504,27.5376068 19.4662393,26.724359 16.4576923,25.6431624" id="Shape" fill="#FFFFFF"></path>
                    <path d="M25.5961538,19.4944444 C25.4902988,19.2184203 25.3035017,18.9808275 25.0602564,18.8128205 L25.0602564,18.8128205 C24.896643,18.7027991 24.712939,18.6261226 24.5196581,18.5871795 C24.18004,18.5002627 23.8225422,18.513322 23.4901709,18.6247863 C23.3661236,18.6623034 23.2475766,18.7160448 23.1376068,18.7846154 L23.1,18.7846154 L23.1,18.7846154 L23.1,18.7846154 L23.1,18.7846154 C22.8609808,18.952764 22.6776436,19.1884833 22.5735043,19.4615385 C22.1410256,20.5568376 22.5217949,22.6440171 22.5217949,22.6440171 C22.6621594,23.4110569 22.9494819,24.1437293 23.3679487,24.8017094 C23.563966,25.0564223 23.8064065,25.2717477 24.0824786,25.4363248 L24.0824786,25.4363248 C24.3585507,25.2717477 24.6009913,25.0564223 24.7970085,24.8017094 C25.2154754,24.1437293 25.5027979,23.4110569 25.6431624,22.6440171 C25.6431624,22.6440171 26.0239316,20.5521368 25.5961538,19.4944444 Z" id="Shape" fill="#191D21"></path>
                    <path d="M34.3632479,7.07948718 C35.4190669,6.95902807 36.4752855,7.30195617 37.2589744,8.01965812 C38.6222222,9.20897436 39.665812,11.4418803 39.6799145,13.9098291 C39.6799145,17.6282051 38.5,21.8542735 34.908547,22.1504274 C33.039736,22.2645514 31.2408705,21.4217758 30.1324786,19.9128205 C29.0275727,18.4502448 28.3593516,16.7047209 28.2051282,14.8782051 C28.0228117,12.9765282 28.6256961,11.0829618 29.8739316,9.63675214 C31.0177955,8.32252709 32.5652502,7.42480499 34.2739316,7.08418803 L34.3632479,7.07948718 Z" id="Shape" fill="#FFFFFF"></path>
                    <circle id="Oval" fill="#F6CE53" transform="translate(33.923655, 14.473174) rotate(-9.400000) translate(-33.923655, -14.473174) " cx="33.9236547" cy="14.4731737" r="5.18504274"></circle>
                    <path d="M30.2688034,15.2448718 C30.4651211,13.8226456 31.2609353,12.5525146 32.4551048,11.7555031 C33.6492742,10.9584916 35.1275281,10.7108661 36.5162393,11.0752137 C34.9185975,9.83018653 32.6626599,9.89215956 31.1357805,11.2230207 C29.6089011,12.5538818 29.239479,14.780229 30.2547009,16.532906 C30.2041796,16.1047313 30.2089193,15.6718377 30.2688034,15.2448718 L30.2688034,15.2448718 Z" id="Shape" fill="#F5A22F"></path>
                    <path d="M33.8367521,10.4217949 C35.6270622,10.4228837 37.2135005,11.5755105 37.7677556,13.2778655 C38.3220107,14.9802205 37.7182846,16.845924 36.2717949,17.9008547 C35.5862798,18.3918023 34.7645512,18.656399 33.9213675,18.6576923 C32.1310575,18.6566034 30.5446192,17.5039767 29.9903641,15.8016217 C29.4361089,14.0992667 30.039835,12.2335631 31.4863248,11.1786325 C32.1718398,10.6876848 32.9935684,10.4230882 33.8367521,10.4217949 L33.8367521,10.4217949 Z M33.8351502,9.00184002 C32.6919219,9.00138307 31.577287,9.3591671 30.6479,10.024908 C28.7124338,11.4407533 27.9032888,13.9383076 28.6408029,16.2201315 C29.378317,18.5019554 31.4961709,20.053467 33.8941734,20.0686809 C35.0374016,20.0691379 36.1520365,19.7113538 37.0814235,19.045613 C39.0277338,17.6306929 39.8425056,15.1240184 39.1000787,12.8351486 C38.3576518,10.5462789 36.2266597,8.99510411 33.8203944,8.99200283 L33.8351502,9.00184002 Z" id="Shape" fill="#151515"></path>
                    <path d="M33.2397436,12.4901709 C32.1139415,12.8383552 31.4833991,14.033099 31.8312265,15.1590114 C32.1790539,16.2849238 33.3735978,16.9158448 34.4996204,16.5683743 C35.625643,16.2209038 36.2569426,15.0265601 35.9098291,13.9004274 C35.7429983,13.3591821 35.3678676,12.9064474 34.8670564,12.6419345 C34.3662452,12.3774215 33.78083,12.3228256 33.2397436,12.4901709 Z M34.5418803,14.3 C34.2071399,14.4036345 33.8517554,14.2163465 33.748023,13.8816363 C33.6442906,13.5469262 33.8314746,13.1914869 34.1661543,13.0876566 C34.5008341,12.9838262 34.8563281,13.1709062 34.9602564,13.5055556 C35.0102035,13.6663853 34.9941767,13.8404728 34.9157054,13.9894801 C34.8372341,14.1384874 34.7027539,14.2501941 34.5418803,14.3 L34.5418803,14.3 Z" id="Shape" fill="#151515"></path>
                    <circle id="Oval" fill="#F6CE53" transform="translate(14.407888, 14.464758) rotate(-17.420000) translate(-14.407888, -14.464758) " cx="14.4078882" cy="14.4647581" r="5.18504274"></circle>
                    <path d="M13.2094017,10.9200855 C14.6469309,10.9154292 16.0174961,11.5272137 16.9738818,12.600451 C17.9302674,13.6736883 18.3807157,15.1054095 18.2111111,16.532906 C19.2243319,14.7774859 18.8502387,12.5500854 17.319139,11.2219854 C15.7880392,9.8938854 13.5301281,9.83824394 11.9354701,11.0893162 C12.3511312,10.9786675 12.7792687,10.9217931 13.2094017,10.9200855 Z" id="Shape" fill="#F5A22F"></path>
                    <path d="M14.332906,10.4217949 C16.013439,10.4263914 17.5241819,11.4472063 18.1554254,13.0046862 C18.786669,14.5621662 18.4129487,16.3467503 17.2098291,17.5200855 C16.450242,18.2451119 15.4393726,18.6477749 14.3893162,18.6435897 C13.2752695,18.6425346 12.2084075,18.1937056 11.428654,17.3980388 C10.6489005,16.6023719 10.2217136,15.5266612 10.2431624,14.4128205 C10.2868108,12.1884376 12.1081206,10.4110904 14.332906,10.4217949 L14.332906,10.4217949 Z M14.3317222,9.05649745 C12.1385094,9.05206996 10.1559715,10.3617261 9.29946544,12.3807852 C8.44295934,14.3998442 8.87910427,16.7355311 10.4065279,18.3094368 C11.4471085,19.401874 12.8911909,20.0182507 14.3999017,20.0139256 C16.5931146,20.0183531 18.5756524,18.7086969 19.4321585,16.6896379 C20.2886646,14.6705788 19.8525197,12.334892 18.325096,10.7609863 C17.2861878,9.66495969 15.8418882,9.04496764 14.3317222,9.04675751 L14.3317222,9.05649745 Z" id="Shape" fill="#151515"></path>
                    <path d="M13.7641026,12.4807692 C12.9353797,12.7229565 12.3342166,13.440602 12.2410376,14.2989457 C12.1478587,15.1572894 12.5810223,15.987218 13.3384708,16.4015947 C14.0959192,16.8159715 15.0284178,16.7331547 15.7009839,16.191776 C16.3735501,15.6503973 16.653673,14.7571205 16.4106838,13.9286325 C16.0791862,12.7983697 14.8946857,12.1503658 13.7641026,12.4807692 L13.7641026,12.4807692 Z M15.042735,14.3094017 C14.7065231,14.4064887 14.355172,14.213087 14.2573534,13.8770871 C14.1595348,13.5410872 14.3521714,13.189316 14.6879576,13.0907664 C15.0237438,12.9922167 15.3759334,13.1840872 15.4752137,13.5196581 C15.5231669,13.6817418 15.5044782,13.8562587 15.4232913,14.004513 C15.3421044,14.1527673 15.2051284,14.2625078 15.042735,14.3094017 Z" id="Shape" fill="#151515"></path>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
  </div>
</template>

<script>

  export default {
    data: () => ({}),
    props:['className', 'size', 'color'],
    computed:{
      classes(){
        let object = {}

        object[this.className] = true

        return object
      }
    }
  }
</script>

<style>
  .peloaderHolder {
    width: 100%;
    text-align: center;
  }

  .preloader {
    position: relative;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .preloader:not([class*=pl-]) {
    width: 40px
  }

  .preloader:before {
    content: '';
    display: block;
    padding-top: 100%
  }

  .preloader.pl-xs {
    width: 20px
  }

  .preloader.pl-sm {
    width: 30px
  }

  .preloader.pl-lg {
    width: 50px
  }

  .preloader.pl-xl {
    width: 80px
  }

  .preloader.pl-xxl {
    width: 100px
  }

  .preloader:not([class*=pls-]) .plc-path {
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite
  }

  .preloader[class*=pls-] .plc-path {
    animation: dash 1.5s ease-in-out infinite
  }

  .preloader.pls-red .plc-path {
    stroke: #F44336
  }

  .preloader.pls-white .plc-path {
    stroke: #fff
  }

  .preloader.pls-green .plc-path {
    stroke: #4CAF50
  }

  .preloader.pls-yellow .plc-path {
    stroke: #FFEB3B
  }

  .preloader.pls-bluegray .plc-path {
    stroke: #607D8B
  }

  .preloader.pls-amber .plc-path {
    stroke: #db1e35
  }

  .preloader.pls-teal .plc-path {
    stroke: #009688
  }

  .preloader.pls-gray .plc-path {
    stroke: #9E9E9E
  }

  .preloader.pls-pink .plc-path {
    stroke: #E91E63
  }

  .preloader.pls-purple .plc-path {
    stroke: #9C27B0
  }

  .preloader.pls-white .plc-path {
    stroke: #fff
  }

  .pl-circular {
    animation: rotate 2s linear infinite;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: auto
  }

  .plc-path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    stroke-width: 2;
    stroke-miterlimit: 10;
    fill: none
  }

  @keyframes rotate {
    50%{
      opacity: 0.5
    }
    100% {
      transform: rotate(360deg);
      opacity: 1
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0
    }
    50% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -35px
    }
    100% {
      stroke-dasharray: 89, 200;
      stroke-dashoffset: -124px
    }
  }

  @keyframes color {
    0%, 100% {
      stroke: #F44336
    }
    40% {
      stroke: #2196F3
    }
    66% {
      stroke: #4CAF50
    }
    80%, 90% {
      stroke: #FFC107
    }
  }
</style>
