<template>
  <div id="app">
    <app-header></app-header>
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
  import AppHeader from './components/Header.vue'

  import EventList from './views/EventList.vue'

  export default {
    name: 'app',
    components: {
      AppHeader,
      EventList
    }
  }
</script>

<style lang="scss">
  @import '../static/scss/fonts.css';
  @import '../static/scss/normalize.scss';
  body {
    background-color: #F7F7F7;
    font-family: HelveticaRegular,sans-serif;
  }
  section, main {
    margin: 39px 0
  }
  .container {
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
  }

  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .flex {
    display: flex;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .4s
  }
  .fade-enter, .fade-leave-to {
    opacity: 0
  }

  .fade-leave-active{
    display: none;
  }
</style>
